name: Build Python App with Nuitka

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
          cache: 'pip'
          cache-dependency-path: |
            **/requirements*.txt

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r client_qt/requirements.txt

      - name: Build with Nuitka
        uses: Nuitka/Nuitka-Action@main
        with:
          # Your entry-point script:
          script-name: main.py
          working-directory: client_qt
          include-package-data: grpc, client_qt/qml
          
          
          #company-name: "Quackmail"
          #product-name: "Quackmessage"
          # Which Nuitka release to use:
          nuitka-version: main

          # Build mode: 'app', 'standalone', or leave unset for default
          mode: onefile

          enable-plugins: pyside6
          

          output-file: quackmessage
          
      - name: Upload build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }} Build
          path: |
            build/**/*.exe
            build/**/*.bin
            build/**/*.run
            build/**/*
            client_qt/build/**/*
          if-no-files-found: ignore
          include-hidden-files: true
